.pokemon-card{
    width: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    border:2px solid black;
    position: relative;
    overflow: hidden;
}

.pokemon-card > .types-coutainer{
 display: flex;
    justify-content: center;
    gap: 30px;
    
 
}