@import up fro

.pokemon-card {
  width: 300px;
  border-radius: 40px;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 2px 4px black;
  position: relative;
  overflow: hidden;
 transition:ease-in-out 0.2s;

}

.pokemon-card:hover{
  transition:ease-in-out 0.2s;
  transform:translatey(-20px);
     box-shadow: 0px 3px 6px 0px solid black;
}

.pokemon-card > .types-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0 0;
}

.type-badge {
  width: 100px;
  padding: 4px;
  border-radius: 6px;
  border: 2px solid black;
  color: white;
}

.pokemon-card .description {
  text-align: left;
  padding: 20px;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.3s ease-in-out;
  translate: 0 100%;
}

.pokemon-card:hover .description {
  translate: 0 0;
}