.menu{
  height:90px;
  width:100%;
  background:#2325;
  border-radius:0px 0px 60px 60px;
padding:20px;

}

.nav{

  margin-left:20px;
  height:90%;
  width:17%;
  border:2px solid black;
  font-size:40px;
font-family:comic book;
}

.nav:hover{
  color:white;
  transition:1.6s;
}

.background-pokemon{
    background:#1234;
    cursor:pointer
}


.list-pokemon {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 100px auto;

}

.search {
  display: block;
  width: 70vh;
  padding: 15px;
  margin: 50px auto 50px;
  font-size: 1rem;
  box-shadow: 3px 5px;
  border-radius: 5px;
  border: 2px solid black;
  /* transition: 0.4s ease-in-out; */
}

.search:active{
  transform:translatey(-10px)
}